@{
    ViewBag.Title = "Lists of events (with MemoryCache)";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajaxSetup(
                {
                    cache: true
                }
            );

            var oTable = $('#tEvents').dataTable({
                "oLanguage": {
                    "sProcessing": "<div id='loading-ajax'><span style='display: table-cell; vertical-align: middle;'><img src='./images/ajax-loader.gif'/></span></div>"
                },
                "bProcessing": true,
                'iDisplayLength': 5,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("getEvents", "EventsMemCache")',
                "sServerMethod": "POST",
                "aoColumns": [
                    { "mData": "Title" },
                    { "mData": "Technology" },
                    { "mData": "Date" },
                    {
                        "mData": function (o) {
                            return "<a target='_blank' href='http://" + o.URL + "' class='btn btn-default'>Register</a>";
                        }
                    }
                ],
            });

        });


    </script>
}
<h2>@ViewBag.Title</h2>
<div class="table-responsive">
    <table id="tEvents" class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Title</td>
                <td>Technology</td>
                <td>Date</td>
                <td></td>
            </tr>
        </thead>
    </table>
</div>